{% extends 'base.html' %}

{% block content %}
    <h2>Create Task</h2>

    <form method="post" class="mt-4">
        {% csrf_token %}

        {{ form.content }}

        <input type="datetime-local" name="deadline" class="form-control mt-2">

        <div class="mt-2">
            {% for tag in form.tags.field.queryset %}
                <label>
                    <input type="checkbox" name="tags" value="{{ tag.id }}">
                    {{ tag.name }}
                </label>
            {% endfor %}
        </div>

        <div class="form-check mt-2">
            {{ form.is_done }}
            <label class="form-check-label" for="{{ form.is_done.id_for_label }}">Is done</label>
        </div>

        <button type="submit" class="btn btn-success mt-3">Create</button>
    </form>
{% endblock %}
